/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.container-980px {
    width: 980px;
    margin: 0 auto;
}
@media screen and (max-width: 980px) {

    html {
        -webkit-text-size-adjust: none;
    }
    .container-980px {
        width:100%;
    }
}
.auth-input {
    border: 3px solid white; 
    -webkit-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    -moz-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    padding: 10px;
    background: rgba(255,255,255,0.5);
    margin: 0 0 10px 0;
}
.btn-primary {
    color: #46A5E5;
}
.container-height-default {
    min-height: 571px;
}
header .container-980px {
    position: relative
}
.header-options{
    color: #FBF6CE;
    vertical-align: sub;
    margin-left: 20px;
    font-size: 14px;
}
#logo {
    height: 50px;
    width: 110px;
}
body {
    background-color: #F5F8FA;
}
#content {
    position:absolute;
    top: 53px;
    left:0px;
    right:0px;
    bottom:0px;
    overflow-y:scroll;
    z-index: -1;
    background-color: white;
}
footer {
    padding: 10px 0px;
    font-weight: bold;
    background-color: #1a2e4f;
    color: white;
    font-size: 14px;

    /*add a shadow*/
    -moz-box-shadow:    2px 2px 5px 4px #1a2e4f;
    -webkit-box-shadow: 2px 2px 5px 4px #1a2e4f;
    box-shadow:         2px 2px 5px 4px #1a2e4f;
}
.text-color-maincolor {
    color: #182945;
}
.text-color-white {
    color: white;
}
.text-align-center {
    text-align: center;
}
.text-align-left {
    text-align: left;
}
.fix-anchor {
    text-decoration: none
}
.fix-list-ul {
    list-style: none;
}
.float-right {
    float: right;
}
.float-left {
    float: left;
}
.display-inline-block {
    display: inline-block;
}
.display-block {
    display: block;
}
.cursor-pointer {
    cursor: pointer;
}
.pages-main-container {
    background-color: rgba(232,232,240,0.6);
}

/*landing page styles*/
.landing-page-body-divs {
    display: inline-block;
    margin-top: 120px;
    background-color: rgba(232,232,240,0.6);
    color: #182945;
}
.landing-page-body-divs:nth-child(2){
    padding-bottom: 14px;
}
.landing-page-intro-p {
    text-align: justify;
    padding: 0px 20px;
    margin-bottom: 20px;
    font-size: 16px;
}



/*header options menu styling */
.arrow-down {
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 8px solid white;
    margin-top: 10px;
}
.arrow-up {
    width: 0;
    height: 0;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    border-bottom: 8px solid white;
}
.header-options-ul {
    margin-top: 0px;
    background-color: white;
}
.header-options-ul li {
    padding: 5px;
}
.header-options-ul a {
    color: black;
    text-decoration: none;
}
.header-icons {
    font-size: 25px;
    color: white;
}
#header-user-div {
    position: absolute;
    margin-top: 10px;
    right: 50px;
}

.nav li a:hover, .nav ul.subs a:hover {
color: #FFD700;
}

.nav ul {
    background-color: rgb(24, 41, 69);
}

.nav li a {
  display:block;
  font-size:16px;
  line-height:15px;
  padding:5px 10px;
  text-decoration:none;
  padding-bottom: 20px;
  color: white;
}

.nav ul.subs a{
  color: white;
  padding: 10px;
}

.nav li:hover ul.subs {
height:auto;
width:180px;
background-color: #182945;
}
/*contains logout menu and arrow*/
#header-options-block {
    position: fixed;
    right: 42px;
    top: 42px;
    visibility: hidden;
}
header .username-a {
    text-decoration: none;
    font-size: 14px;
    color: #46A5E5;
}
.header-options-menu {
    width: 150px;
    background-color: white;
    color: black;
    font-size: 12px;
    font-weight: normal;
    line-height: 22px;
    margin-left: -125px;
    border: solid #182945;
    border-width: 0 1px 1px 1px;
}

/*login page*/
#login-page-body-container {
    background-color: rgba(232,232,240,0.6);
    color: #182945;
    height: 360px;
    margin-bottom: 140px;
    width: 400px;
    margin-top: 70px;
}
#login-page-body-container input {
    border: 5px;
    margin-top: 25px;
}
#login-page-body-container .form-horizontal {
    padding-top: 25px;
}
.help-block {
    font-size: 12px;
    color: red;
}

/*profile page styles*/
#profile-page-body-container {
    padding-top: 20px;
    text-align: left;
}
#profile-page-cover-section {
    background: transparent url("/arts/public/img/profile-cover.jpg")  
                no-repeat scroll 0% 0% / cover;
    color: black;
    height: 235px;
    position: relative;
} 
#profile-page-cover-section  #profile-page-spphoto-div{
    position: absolute;
    top: 34px;
}
#profile-page-body-container #profile-page-cover-section  label {
    color: black;
    font-weight: bold;
}
#profile-page-cover-section #profile-page-profile-text1 {
    width: 41%;
    margin-left: 205px;
    margin-right: 10px;
}
#profile-page-cover-section p {
    margin: 0px;
    font-size: 11px;
} 
#profile-info-verticl-ruler {
    width: 4px;
    height: 99%;
    position: absolute;
    display: inline-block;
    top: -16px;
}
#profile-page-profile-followig-section {
    width: 40%;
    display: block;
    position: relative;
    margin: 0 auto;
}
.following-count{
    background-color: white;
    padding: 6px;
    cursor: pointer;
}
#profile-go-follow-a {
    display: block;
    margin: 66px;
    border: 1px solid red;
    color: red;
    text-decoration: none;
    padding: 5px;
    background-color: black;
    font-weight: bold;
}
.follow-button {
    width: 160px;
    height: 38px;
    background-color: green;
    color: white;
    border-radius: 10px;
}
.following-button{
    background-color: gray; 
    width: 160px;
    height: 38px;
    color: white;
    border-radius: 10px;
}
#register-following-button {
    margin: 80px;
    width: 185px;
    height: 38px;
    background-color: green;
    color: white;
    border-radius: 10px;
}
#profile-page-body-container hr {
    height: 3px;
    background-color: #FBF6CE;
    width: 100%;
}
#profile-page-pphoto-div{
    width: 20%;
    vertical-align: top;
}
#profile-img {
    width: 200px;
    height: 200px;
    margin: -15px 10px 15px;
}
#profile-page-profile-text1 {
    width: 40%;
    position: relative;
    top: 15px;
    left: 10px;
}
#profile-page-profile-text1 a {
    color: black;
}

#profile-page-profile-text2 {
    width: 30%;
    vertical-align: top;
}

#profile-page-profile-text2 textarea{
    width: 100%;
}

#profile-page-pphoto-div img {
    width: 100px;
    height: 100px;
}

#profile-page-spphoto-div  {
    display: inline-block;
}

.profile-page-profile-details {
    display: inline-block;
}

#profile-page-body-container td {
    padding-bottom: 5px;
    vertical-align: top;
}

#profile-page-body-container label {
    color: #A1C436;
    font-family: Aclonica;
}

#profile-page-profile-submit-div {
    padding: 20px;
    margin: 0px auto;
    width: 5%;
}

.post-image-and-date { 
   position: relative; 
   width: 100%; /* for IE 6 */
}
.post-image-and-date span { 
    position: absolute;  
    left: 0; 
    height: 20px;
    color: white;
    font-size: 12px;
    background-color: rgba(0, 0, 0, 0.6);
    padding-top: 10px;
}
#profile-page-body-container #explore-page-grid {
    width: 100%;
}
#follow-text {
    background-color: none;
}
.profile-following-list-div {
    background-color: white;
    overflow-y: scroll;
    margin-top: 15px;
    position: relative;
    top: 20px;
    overflow-x: hidden;
    max-height: 100px;
}
.profile-following-list-div  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
 
.profile-following-list-div li {
    font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
    border-bottom: 1px solid #ccc;
}
 
.profile-following-list-div li:last-child {
  border: none;
}
 
.profile-following-list-div li a {
  text-decoration: none;
  color: #000;
  display: block;
  padding-left: 10px;
  width: 100%;
 
  -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
  -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
  -o-transition: font-size 0.3s ease, background-color 0.3s ease;
  -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
  transition: font-size 0.3s ease, background-color 0.3s ease;
}
 
.profile-following-list-div li a:hover {
  font-size: 30px;
  color: white;
  background: blue;
}


/*explore page styling*/
#explore-body-container {
    width: 100%;
    background-color: #cadbf7;
    position: relative;
    padding-top: 10px;
}

#pagination-div {
}

#pagination-div ul {
    list-style: none;
    margin: 0px;
}
#pagination-div li {
    display: inline-block;
    padding: 0px 9px;
    margin-right: 4px;
    font-size: .875em;
    font-weight: bold;
    text-decoration: none;
    text-shadow: 0px 1px 0px rgba(255,255,255, 1);
    text-decoration: none;
    border: solid 1px #32373b;
    background: #1a2e4f;
    box-shadow: inset 0px 1px 1px rgba(255,255,255, .1), 0px 1px 3px rgba(0,0,0, .1);
    color: #feffff;
    text-shadow: 0px 1px 0px rgba(0,0,0, .5);
}
#pagination-div *{
    color: white;
    text-decoration: none;
}
#pagination-div a:hover, #pagination-div a.gradient:hover {
    background: #182945;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#547085), to(#3d4f5d));
    background: -moz-linear-gradient(0% 0% 270deg,#547085, #3d4f5d);
}

#pagination-div .active {
    border: none;
    background-color: #182945;
    box-shadow: inset 0px 0px 8px rgba(0,0,0, .5), 0px 1px 0px rgba(255,255,255, .1);
}

#pagination-div a.gradient {
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#565b5f), to(#3e4347));
}
/*explore image caption styling*/
#explore-page-grid {
    position: relative;
    bottom: 50px;
    margin: 0 auto;
    /* Prevent vertical gaps */
    line-height: 0;
    -webkit-column-count: 5;
    -webkit-column-gap:   0px;
    -moz-column-count:    5;
    -moz-column-gap:      0px;
    column-count:         5;
    column-gap:           0px;  
    margin-top: 70px;
}
#explore-page-grid h3 {
  text-align: center;
  font-size: 1.65em;
  margin: 0 0 30px;
}

#explore-page-grid div {
  display: flex;
  flex-wrap: wrap;
}

#explore-page-grid a {
    display: inline-block;
    width: calc(50% - 4px);
    margin-right: 8px;
    text-decoration: none;
    color: black;
    width: 100% !important;
    height: auto !important;
}

#explore-page-grid a:nth-of-type(2n) {
  margin-right: 0;
}

@media screen and (min-width: 50em) {
  #explore-page-grid a {
    width: calc(25% - 6px);
  }
  
  #explore-page-grid a:nth-of-type(2n) {
    margin-right: 8px;
  }
  
  #explore-page-grid a:nth-of-type(4n) {
    margin-right: 0;
  }
}
@media (max-width: 1200px) {
  #explore-page-grid a {
  -moz-column-count:    5;
  -webkit-column-count: 5;
  column-count:         5;
  }
}
@media (max-width: 1000px) {
  #explore-page-grid a {
  -moz-column-count:    4;
  -webkit-column-count: 4;
  column-count:         4;
  }
}
@media (max-width: 800px) {
  #explore-page-grid a {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
}
@media (max-width: 400px) {
  #explore-page-grid a {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}

#explore-page-grid a:hover figure {
    border: 1px solid red;
}

#explore-page-grid figure {
    margin: 0;
    overflow: hidden;
    border: 1px dotted gray;
}

#explore-page-grid figcaption {
    margin: 5px 0px 5px 0px;
    font-weight: bold;
    line-height: 1;
    color: #182945;
}

#explore-page-grid img {
    border: none;
    display: block;
    background: #ccc;
    height: 100px;
    width: 140px;
    padding-left: 7px;
    background-color: white;
}

#explore-page-grid .p a {
    display: inline;
    font-size: 13px;
    margin: 0;
    text-decoration: underline;
    color: blue;
}

#explore-page-grid .p {
    text-align: center;
    font-size: 13px;
    padding-top: 100px;
}
#explore-page-grid .post-popularity {
    float: right;
    font-size: 10px;
    margin-bottom: 10px;
    text-align: right;
    padding-right: 2px;
    width: 48%;
}
.post-credit {
    float: left;
    font-size: 10px;
    margin-bottom: 10px;
    width: 50%;
    text-align: left;
}
.post-title {
    text-align: center;
    margin: 0px;
    margin-bottom: 20px;
}
.fa-eye {
    color: blue;
}
.fa-comment {
    color: gray;
}
.fa-arrow-up {
    color: green
}
.fa-arrow-down {
    color: red;
}

/*explore artists page */
#explore-page-artists-box {
    position: relative;
    bottom: 50px;
    width: 70%;
    margin: 0 auto; 
    margin-top: 70px;
}

.explore-page-artist-block {
    background-color: white;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.artists-explore-artist-img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 1px gray solid;
    float: left;
    margin-right: 10px;
}

.explore-page-artist-posts {
    height: 130px;
    width: 100%;
    margin: 0 auto;
    margin-top: -15px;
}

.explore-artist-post-img {
    width: 120px;
    height: 120px;
    border: 1px gray solid;
    float: left;
    margin-right: 10px;
}

.explore-page-artist-info {
    height: 80px;
}

.artist-explore-artist-name {
    font-size: 20px;
    font-weight: bold;
    color: #182945;
}

.artist-explore-artist-text-info {
    text-align: left;
}

/*home page styles*/
#home-page-go-to-edit-profile {
    background-color: white;
    text-align: center;
    border: 1px solid red;
}

#home-page-go-to-edit-profile a{
    color: red;
}

/*edit profile style*/
#edit-profile-page-body-container {
    margin-bottom: 20px;
}
#edit-profile-img {
    margin: 0px auto;
    width: 200px;
    height: 200px;
}

#fileToUpload {
    margin: 25px auto;
    margin-top: 14px;
    width: 200px;
    padding-bottom: 40px;
    padding-right: 204px;
}

#edit-profile-save-button {
    margin-top: 20px;
}

#profile-save-status-msg {
    color: red;
    margin: 13px auto;
    width: 13%;
}
body {
    background-color: white;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}
.form-control {
    margin-bottom: 4px;
}
#profile-page-alert {
    color:red;
}
/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}