/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.container-980px {
    width: 980px;
    margin: 0 auto;
}
@media screen and (max-width: 980px) {

    html {
        -webkit-text-size-adjust: none;
    }
    .container-980px {
        width:100%;
    }
}
.auth-input {
    border: 3px solid white; 
    -webkit-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    -moz-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    padding: 10px;
    background: rgba(255,255,255,0.5);
    margin: 0 0 10px 0;
}
.btn-primary {
    color: #46A5E5;
}
.container-height-default {
    min-height: 571px;
}
header {
    background-color: #182945;
    padding: 5px 0px;
    color: white;
    font-weight: bold;
    height: 50px;
}
header .container-980px {
    position: relative
}
.header-options{
    color: #FBF6CE;
    vertical-align: sub;
    margin-left: 20px;
    font-size: 14px;
}
#logo {
    height: 50px;
    width: 110px;
}
body {
    background-color: #F5F8FA;
}
#content {
    position:absolute;
    top: 60px;
    left:0px;
    right:0px;
    bottom:0px;
    overflow-y:scroll;
    z-index: -1;
}
footer {
    padding: 10px 0px;
    font-weight: bold;
    background-color: #1a2e4f;
    color: white;
    height: 15px;
    font-size: 14px;

    /*add a shadow*/
    -moz-box-shadow:    2px 2px 5px 4px #1a2e4f;
    -webkit-box-shadow: 2px 2px 5px 4px #1a2e4f;
    box-shadow:         2px 2px 5px 4px #1a2e4f;
}
.text-color-maincolor {
    color: #182945;
}
.text-color-white {
    color: white;
}
.text-align-center {
    text-align: center;
}
.fix-anchor {
    text-decoration: none
}
.fix-list-ul {
    list-style: none;
}
.float-right {
    float: right;
}
.float-left {
    float: left;
}
.display-inline-block {
    display: inline-block;
}
.display-block {
    display: block;
}
.cursor-pointer {
    cursor: pointer;
}
.pages-main-container {
    background-color: rgba(232,232,240,0.6);
}

/*landing page styles*/
.landing-page-body-divs {
    width: 45%;
    display: inline-block;
    margin-top: 120px;
    background-color: rgba(232,232,240,0.6);
    color: #182945;
}
.landing-page-body-divs:nth-child(2){
    padding-bottom: 18px;
}
.landing-page-intro-p {
    text-align: justify;
    padding: 0px 20px;
}



/*header options menu styling */
.arrow-down {
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 8px solid white;
    margin-top: 10px;
}
.arrow-up {
    width: 0;
    height: 0;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    border-bottom: 8px solid white;
}
.header-options-ul {
    margin-top: 0px;
    margin-left: -29px;
    background-color: white;
}
.header-options-ul li {
    padding: 5px;
}
.header-options-ul a {
    color: black;
    text-decoration: none;
}
.header-icons {
    font-size: 25px;
}
#header-user-div {
    position: absolute;
    margin-top: 10px;
    right: 10px;
}
/*contains logout menu and arrow*/
#header-options-block {
    margin-top: 47px;
    visibility: hidden;
}
header span {
    font-size: 14px;
    color: #46A5E5;
}
.header-options-menu {
    width: 100px;
    background-color: white;
    color: black;
    font-size: 12px;
    font-weight: normal;
    line-height: 22px;
    margin-left: -75px;
}

/*login page*/
#login-page-body-container {
    background-color: rgba(232,232,240,0.6);
    color: #182945;
    height: 360px;
    margin-bottom: 140px;
    width: 400px;
    margin-top: 70px;
}
#login-page-body-container input {
    border: 5px;
    padding: 15px;
    margin: 0 0 15px 0;
}
#login-page-body-container .form-horizontal {
    padding-top: 25px;
}
.help-block {
    font-size: 12px;
    color: red;
}

/*profile page styles*/
#profile-page-body-container {
    padding: 20px;
    text-align: left;
}
#profile-page-body-container hr {
    height: 3px;
    background-color: #FBF6CE;
    width: 100%;
}
#profile-page-pphoto-div{
    width: 20%;
    vertical-align: top;
}
#profile-page-profile-text1 {
    width: 40%;
}
#profile-page-profile-text2 {
    width: 30%;
    vertical-align: top;
}
#profile-page-profile-text2 textarea{
    width: 100%;
}
#profile-page-pphoto-div img {
    width: 100px;
    height: 100px;
}
#profile-page-pphoto-div img:hover + #profile-page-change-photo-span {
    visibility: visible;
}
#profile-page-change-photo-span {
    visibility: hidden;
    font-size: 10px;
    display: block;
    color: red;
}
.profile-page-profile-details {
    display: inline-block;
}
#profile-page-body-container td {
    padding-bottom: 5px;
    vertical-align: top;
}
#profile-page-body-container label {
    color: #A1C436;
    font-family: Aclonica;
}
#fileToUpload {
    margin-top: 15px;
}
#profile-page-profile-submit-div {
    padding: 20px;
    margin: 0px auto;
    width: 5%;
}
#profile-save-status-msg {
    color: red;
    margin: 0 0 10px -25px;
}

/*explore page styling*/
#explore-body-container {
    width: 100%;
    background-color: #cadbf7;
    position: relative;
    padding-top: 10px;
}
#pagination-div {
    position: absolute;
    bottom: 10px;
    width: 100%;
}
#pagination-div ul {
    list-style: none;
    margin: 0px;
}
#pagination-div li {
    display: inline-block;
    padding: 0px 9px;
    margin-right: 4px;
    font-size: .875em;
    font-weight: bold;
    text-decoration: none;
    text-shadow: 0px 1px 0px rgba(255,255,255, 1);
    text-decoration: none;
    border: solid 1px #32373b;
    background: #1a2e4f;
    box-shadow: inset 0px 1px 1px rgba(255,255,255, .1), 0px 1px 3px rgba(0,0,0, .1);
    color: #feffff;
    text-shadow: 0px 1px 0px rgba(0,0,0, .5);
}
#pagination-div *{
    color: white;
    text-decoration: none;
}
#pagination-div a:hover, #pagination-div a.gradient:hover {
    background: #182945;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#547085), to(#3d4f5d));
    background: -moz-linear-gradient(0% 0% 270deg,#547085, #3d4f5d);
}

#pagination-div .active {
    border: none;
    background-color: #182945;
    box-shadow: inset 0px 0px 8px rgba(0,0,0, .5), 0px 1px 0px rgba(255,255,255, .1);
}

#pagination-div a.gradient {
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#565b5f), to(#3e4347));
}
/*explore image caption styling*/
#explore-page-grid {
    position: relative;
    bottom: 50px;
    width: 90%;
    margin: 0 auto;
    /* Prevent vertical gaps */
    line-height: 0;
    -webkit-column-count: 5;
    -webkit-column-gap:   0px;
    -moz-column-count:    5;
    -moz-column-gap:      0px;
    column-count:         5;
    column-gap:           0px;  
    margin-top: 70px;
}
#explore-page-grid h3 {
  text-align: center;
  font-size: 1.65em;
  margin: 0 0 30px;
}

#explore-page-grid div {
  display: flex;
  flex-wrap: wrap;
}

#explore-page-grid a {
    display: inline-block;
    width: calc(50% - 4px);
    margin-right: 8px;
    text-decoration: none;
    color: black;
    width: 100% !important;
    height: auto !important;
}

#explore-page-grid a:nth-of-type(2n) {
  margin-right: 0;
}

@media screen and (min-width: 50em) {
  #explore-page-grid a {
    width: calc(25% - 6px);
  }
  
  #explore-page-grid a:nth-of-type(2n) {
    margin-right: 8px;
  }
  
  #explore-page-grid a:nth-of-type(4n) {
    margin-right: 0;
  }
}
@media (max-width: 1200px) {
  #explore-page-grid a {
  -moz-column-count:    5;
  -webkit-column-count: 5;
  column-count:         5;
  }
}
@media (max-width: 1000px) {
  #explore-page-grid a {
  -moz-column-count:    4;
  -webkit-column-count: 4;
  column-count:         4;
  }
}
@media (max-width: 800px) {
  #explore-page-grid a {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
}
@media (max-width: 400px) {
  #explore-page-grid a {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}

#explore-page-grid a:hover figure {
    border: 1px dotted red;
}

#explore-page-grid figure {
    margin: 0;
    overflow: hidden;
    border: 1px dotted gray;
}

#explore-page-grid figcaption {
    margin: 5px 0px 5px 0px;
    font-weight: bold;
    line-height: 1;
    color: #182945;
}

#explore-page-grid img {
    border: none;
    height: auto;
    display: block;
    background: #ccc;
    width: 100%;
}

#explore-page-grid .p a {
    display: inline;
    font-size: 13px;
    margin: 0;
    text-decoration: underline;
    color: blue;
}

#explore-page-grid .p {
    text-align: center;
    font-size: 13px;
    padding-top: 100px;
}
#explore-page-grid .post-popularity {
    float: right;
    font-size: 10px;
    margin-bottom: 10px;
    text-align: right;
    padding-right: 2px;
    width: 48%;
}
.post-credit {
    float: left;
    font-size: 10px;
    margin-bottom: 10px;
    width: 50%;
    text-align: left;
}
.post-title {
    text-align: center;
    margin: 0px;
}
.fa-eye {
    color: blue;
}
.fa-arrow-up {
    color: green
}
.fa-arrow-down {
    color: red;
}


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}