/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
#main-container {
	width: 980px;
	color: gray;
	margin: 0 auto;
}
#under-header {
	background-color: wheat;
}
#header {
    width: 980px;
    margin: 0 auto;   
}
#header-title {
	margin: 0px;
	color: green;
	display: inline-block;
}
#header-menu {
	list-style: none;
    width: 65%;
    margin: 0px;
    text-align: center;
    display: inline-block;
}
#header-menu li {
	display: inline-block;
	margin-right: 20px;
}
#header-menu a {
	color: red;
}
a {
	text-decoration: none;
}
#header-login{
	display: inline-block;
	float: right;
    margin: 10px;
}
.col-md-6 input{
    width: 100%;
}
.panel {
    width: 40%;
    margin: 0 auto;
    padding-top: 65px;
    padding-bottom: 100px 
}
.main-body form {
    margin-top: 20px;
}
.main-body  input,textarea{
    width: 55%;
    margin: 10px 0px;
}
.main-body  textarea{
    height: 200px;
}
.main-body input {
    height: 30px;
}
.main-body .checkbox #checkitem {
    display: inline-block;
    width: 40%;
    margin-left: 0px;
}
.main-body button {
    float: right;
    margin-right: 43%;
}
.main-body #login-button {
    float: left;
}
.clear {
    clear: both;
}
#post-author-name {
    margin-bottom: 0px;
}
#post-text {
    color: black;
    word-break: break-all;
    border: 1px solid gray;
    background: aliceblue;
    margin: 0px;
}
#post-details h5{
    display: inline-block;
    margin: 0px;
}
#post-details {
    padding: 50px;
    padding-top: 50px;
}
#post-created-at {
    float: right;
}
.posts-post-div {
    background: aliceblue;
    padding: 3px 10px 10px 10px;
    cursor: pointer;
    margin: 10px auto;
    width: 80%;
}
#main-title {
    padding-bottom: 15px;
    text-align: center;
}
.posts-post-title {
    text-align: center;
}
.posts-post-date, .posts-post-author {
    display: inline-block;
    margin:0px;
}
.posts-post-text {
    word-break: break-all;
}
#posts-pagination-div {
    margin-left: 5%;
    display: inline-block;
}
#posts-pagination-div ul{
    list-style: outside none none;
    display: inline-flex;
}
hr {
    width: 90%;
    margin: 0px auto;
}



/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
